@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../assets/fonts/font.css";

* {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca, sans-serif";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  scroll-behavior: smooth;
}

.main_padding {
  @apply xl:px-28 lg:px-20 md:px-16 sm:px-14 px-8;
}

.scrollbar-thumb {
  background: #253b6e94;
}
.scrollbar-track {
  background-color: transparent;
}