@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  font-family: "Lexend Deca, sans-serif";
}

.main_padding {
  @apply xl:px-28 lg:px-20 md:px-16 sm:px-14 px-8;
}
