@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  scroll-behavior: smooth;
}

.main_padding {
  @apply xl:px-28 lg:px-20 md:px-16 sm:px-14 px-8;
}

.scrollbar-thumb {
  background: #253b6e94;
}
.scrollbar-track {
  background-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.newsScroll .scrollbar-thumb {
  background: #E3ECFF;
}
.newsScroll .scrollbar-track {
  background: #1f666866;
}

.newsScroll::-webkit-scrollbar-thumb {
  background-color: #1f666866;
  outline: 0.5px solid #1f666866;
  border-radius: 10px;
  width: 5px;
  margin-top: 10px;
}

.newsScroll::-webkit-scrollbar {
  height: 5px;
  width: 0;
  border-radius: 100%;
  outline: none;
}
